<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/migwe/IdeaProjects/SimpleApiAutomation">
        <classes>
            <class name="ExampleOne">
                <methods>
                    <include name="getCall"/>
                    <include name="postCall"/>
                    <include name="putCall"/>
                    <include name="deleteCall"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>